.slide-animation {
  backface-visibility: hidden;
  z-index: 1;
  &-enter-active {
    //Appearing
    transition: all .3s ease-in-out .3s;
  }
  &-leave-active {
    // disappear
    transition: all .3s ease-in-out;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
  &-enter {
    transform: translateY(50px);
  }
  &-leave-to {
    transform: translateX(50px);
  }
}
