// -------------------------------------
// Html
// -------------------------------------

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: rem(16px);
  font-weight: 100;
  overflow-x: hidden;
  letter-spacing: rem(1.5px);
  line-height: rem(30px);
  transition: width .2s ease-in-out;
  font-family: 'Hind', sans-serif;
}

/* resets */

*,
*:before,
*:after {
  outline: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// -------------------------------------
// Links
// -------------------------------------

a {

  &:link {
    text-decoration: none;
  }

  &:hover {
    color: black;
  }
}

