@charset 'UTF-8';

// ==== Modules ==========================================================
// Spinner
// =======================================================================


// ==== Spinner =============================
// Base
// ==========================================

.spinner {


  &__svg {
    display: block;
    animation: spinner 500ms infinite linear;
    content: '';
    height: rem(50px);
    margin: 10% auto rem(20px);
    width: rem(50px);

    g {
      fill: $color-brand;
    }
  }


  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
