.card-block {
  padding: rem(10px);
  transition: $timing $easing;

  &:hover {
    transform: scale(0.95);
  }

  &__item {
    border: 1px solid rgba($color-dark, 0.2);
    border-radius: rem(3px);
    box-shadow: 0px 0px 12px 0px rgba($color-mid, 0.75);
  }

  &__img {
    border-radius: rem(3px) rem(3px) 0 0;
    object-fit: cover;
    height: rem(200px);
    width: 100%;
  }

  &__title {
    color: $color-primary;
    height: rem(50px);
    margin: rem(10px) 0;
  }

  &__content {
    background-color: $color-lightest;
    height: rem(280px);
    padding: rem(20px);
    text-align: center;
    position: relative;
  }

  &__stat {

    @include font-sizes($small-font-size-s, $small-font-size-l);

    font-weight: $strong-weight;
    display: block;
    padding: 0 rem(20px);
    cursor: pointer;
  }

  &__intro {
    margin-bottom: 0;
  }

  &__stats {
    // align-items: center;
    display: flex;
    position: absolute;
    bottom: rem(20px);
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
  }
}

