.posts {
  display: flex;
  flex-flow: row wrap;
  // grid-template-columns: auto auto auto;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  &__item {
    width: 100%;

    @include min-width(bp(s)) {
      width: 50%;
    }

    @include min-width(bp(m)) {
      width: 33.33%;
    }
  }
}
