.stats {
  padding-bottom: rem(40px);

  &__section {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: rem(450px);
    margin: 0 auto;
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: rem(60px);

    .h6,
    .h5 {
      margin: 0;
    }

    .spinner__svg {
      height: rem(25px);
      width: rem(25px);
    }
  }

  &__figure {
    @include font-sizes($large-font-size-s, $large-font-size-l);
    color: $color-primary;
  }

  &__title {
    @include font-sizes($tiny-font-size-s, $tiny-font-size-l);
    color: $color-secondary;
  }
}