<template>
<!-- eslint-disable -->
  <article
    class="card-block"
  >
    <router-link :to="`/products/${path}`">
      <div class="card-block__item">
        <img
          :src="img"
          alt="Post Image"
          draggable="false"
          class="card-block__img"
        >
        <div class="card-block__content">
          <small class="card-block__stat" v-b-tooltip.hover title="Date">
            <i class="far fa-calendar-alt"></i> {{ date }}
          </small>
          <h5 class="h5 card-block__title">{{ title }}</h5>
          <p class="p card-block__intro">{{ intro }}</p>

          <div class="card-block__stats">
            <small class="card-block__stat" v-b-tooltip.hover title="Votes">{{ votes }} <i class="fas fa-vote-yea"></i></small>
            <small class="card-block__stat" v-b-tooltip.hover title="Comments">{{ comments }} <i class="fas fa-comment-dots"></i></small>
            <small class="card-block__stat" v-b-tooltip.hover title="Makers">{{ makers }} <i class="fas fa-users"></i></small>
          </div>

        </div>
      </div>
    </router-link>
  </article>
</template>

<script>
// Export
export default {
  name: 'module-card',

  // Props
  props: {
    img: String,
    title: String,
    votes: Number,
    intro: String,
    date: String,
    comments: Number,
    makers: Number,
    path: String,
  },
};
</script>
