<template>
  <div class="header">
    <h1 class="h1">{{ title }}</h1>
    <p class="p">{{ subtitle }}</p>
  </div>
</template>

<script>
// Export
export default {
  name: 'module-header',

  // Props
  props: {
    title: String,
    subtitle: String,
  },
};
</script>
