<template>
  <section
    class="posts"
  >

    <module-card
      v-for="post in postsList"
      :key="post.id"
      :img="post.thumbnail.image_url"
      :title="post.name"
      :votes="post.votes_count"
      :intro="post.tagline"
      :date="post.day"
      :comments="post.comments_count"
      :makers="post.makers.length"
      :path="post.slug"
      class="posts__item"
    />

  </section>
</template>

<script>
// Modules
import ModuleCard from './Card.vue';

// Export
export default {
  name: 'module-posts',

  // Components
  components: {
    ModuleCard,
  },

  // Props
  props: {
    postsList: Array,
  },
};
</script>
