<template>
  <div class="select-input">

    <b-form-select
      v-model="selected"
      class="mb-3"
      @change="onChange($event)"
    >
      <option value="null">Please select an option</option>
      <option
        :value="new Date() | moment('YYYY-MM-DD')"
      >
        Today
      </option>
      <option
        :value="new Date() | moment('subtract', '1 day') | moment('YYYY-MM-DD')"
      >
        Yesterday
      </option>
      <option
        v-for="i in 29"
        :key="i"
        :value="new Date() | moment('subtract', `${i + 1} days`) | moment('YYYY-MM-DD')"
      >
        {{ i + 1}} days ago
      </option>
    </b-form-select>

  </div>
</template>

<script>
// Export
export default {
  name: 'module-select',

  // Data
  data() {
    return {
      selected: '',
    };
  },

  // Methods
  methods: {
    onChange(v) {
      this.$emit('selected', v);
      // console.log(v);
    },
  },
};
</script>
