<template>
  <div class="stats">
    <div
      class="stats__section"
    >

      <div
        v-for="stat in stats"
        :key="stat.id"
        class="stats__item"
      >

        <div>
          <ui-loader
            v-if="loaderState === false"
            :active="loaderState"
          />
          <span
            v-else
            class="h5 stats__figure"
          >
            {{ stat.figure }}
          </span>
        </div>
        <span class="h6 stats__title">{{ stat.title }}</span>

      </div>
    </div>
  </div>
</template>

<script>
// Ui
import UiLoader from '@/components/ui/Loader.vue';

// Export
export default {
  name: 'module-stats',

  // Components
  components: {
    UiLoader,
  },

  // Props
  props: {
    stats: Array,
    loaderState: Boolean,
  },
};
</script>
