.product {

  &__img {
    object-fit: cover;
    height: rem(500px);
    width: 50%;

    @include max-width(bp(s)) {
      height: rem(300px);
    }
  }

  .h1 {
    margin: 0;
  }

  &__back,
  &__link {
    display: block;
    border-radius: rem(3px);
    padding: rem(8px) ;
    color: $color-lightest;
    width: rem(180px);
    text-align: center;
    margin: rem(10px) 0;
  }

  &__link {
    background-color: $color-primary;
  }

  &__back {
    background-color: $color-brand
  }

  &__content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .group {
    width: 50%;
    padding: rem(40px);
  }

  &__img,
  .group {

    @include max-width(bp(m)) {
      width: 100%;
    }
  }
}
