<template>
  <div class="products">

    <div class="group">

      <module-header
        title="ProductHunt"
        subtitle="The best new products, every day"
      />

      <module-select
        @selected="showSelect($event)"
      />

      <!-- <pre>{{ posts[0] }}</pre> -->

      <!-- {{ select }} -->

      <module-stats
        :stats="initStats()"
        :loader-state="pageLoaded"
      />

      <ui-loader
        v-if="pageLoaded === false"
        :active="spinnerActive"
      />

      <module-posts
        v-else
        :posts-list="posts"
      />

    </div>

  </div>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

// Services
import services from '@/mixins/services';

// Modules
import ModuleHeader from '@/components/modules/Header.vue';
import ModuleStats from '@/components/modules/Stats.vue';
import ModulePosts from '@/components/modules/Posts.vue';
import ModuleSelect from '@/components/modules/Select.vue';

// Ui
import UiLoader from '@/components/ui/Loader.vue';

// Export
export default {
  name: 'page-product-hunt',

  // Components
  components: {
    ModulePosts,
    ModuleHeader,
    ModuleStats,
    ModuleSelect,
    UiLoader,
  },

  // Mixins
  mixins: [
    services,
  ],

  // Data
  data() {
    return {
      // Dropdown Input State
      select: '',

      // Loader State
      spinnerActive: true,
      pageLoaded: false,

      // Stats Figures
      votesCount: '',
      commentsCount: '',
      makersCount: '',
      postsCount: '',

      // Init Posts
      posts: [],

      // Stats List
      statsList: [],
    };
  },

  // Methods
  methods: {
    ...mapActions([
      'getPosts',
    ]),
    initStats() {
      const votesArray = this.posts.map(item => item.votes_count);
      const commentsArray = this.posts.map(item => item.comments_count);
      const makersArray = this.posts.map(item => item.makers);

      this.votesCount = this.sumValue(votesArray);
      this.commentsCount = this.sumValue(commentsArray);
      this.makersCount = this.sumLength(makersArray);
      this.postsCount = this.posts.length;

      const statData = [
        {
          id: 0,
          figure: this.postsCount,
          title: 'Posts',
        },
        {
          id: 1,
          figure: this.votesCount,
          title: 'Votes',
        },
        {
          id: 2,
          figure: this.commentsCount,
          title: 'Comments',
        },
        {
          id: 3,
          figure: this.makersCount,
          title: 'Makers',
        },
      ];

      return statData;
    },
    apiCall(date) {
      this.getPosts(date)
        .then((response) => {
          this.posts = response.data.posts;
          setTimeout(() => {
            this.pageLoaded = true;
            this.spinnerActive = false;
          }, 1000);
          // console.log(this.posts);
        });
    },
    showSelect(v) {
      this.select = v;
      this.apiCall(this.select);
    },
  },

  // Lifecycle
  mounted() {
    this.apiCall();
  },
};
</script>
