<template>
  <div class="product">

    <!-- <pre>{{ product }}</pre> -->
    <!-- {{ this.$route.params.id }} -->

    <ui-loader
      v-if="pageLoaded === false"
      :active="spinnerActive"
    />

    <article
      v-else
      class="product__content"
    >
      <img
        :src="product.thumbnail.image_url"
        alt="Post Image"
        class="product__img"
      >

      <section class="group">
        <h1 class="h1">{{ product.name }}</h1>
        <p class="p">{{ product.tagline }}</p>
        <a
          :href="product.discussion_url"
          target="_blank"
          class="product__link"
        >
          Read More
        </a>
        <router-link
          to="/products"
          class="product__back"
        >
          Back To Products
        </router-link>
      </section>

    </article>

  </div>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

// Ui
import UiLoader from '@/components/ui/Loader.vue';

// Export
export default {
  name: 'page-single-product',

  // Components
  components: {
    UiLoader,
  },

  // Data
  data() {
    return {
      id: this.$route.params.id,
      product: {},
      posts: [],
      spinnerActive: true,
      pageLoaded: false,
    };
  },

  // Methods
  methods: {
    ...mapActions([
      'getPosts',
    ]),
    getProduct() {
      this.getPosts()
        .then((response) => {
          this.posts = response.data.posts;
          setTimeout(() => {
            this.pageLoaded = true;
            this.spinnerActive = false;
          }, 1000);
          const singleProd = this.posts.filter(prod => prod.slug === this.id);
          this.product = singleProd.find(single => single.slug === this.id);
        });
    },
  },

  // Lifecycle
  mounted() {
    this.getProduct();
  },
};
</script>
