// =======================================
// Colors
// ==========================================

$color-dark: #000000;
$color-light: rgb(240, 228, 228);
$color-lightest: #ffffff;
$color-primary: #DA552F;
$color-mid: rgb(168, 153, 153);
$color-secondary: rgb(138, 118, 118);
$color-brand: #2492d6;