@charset 'UTF-8';

// ==== Framework ===================================================================
// Constants
// =======================================================================


// ==== Constants ===========================
// Typography
// ==========================================

// Base
$font-default-size: 16;

// Families
$font-family-body: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-family-mono: monospace;

// Variables
$line-height-body: 1.5;
$line-height-header: 1.25;
$strong-weight: 600;

// H1
$h1-font-size-l: 64px;
$h1-font-size-s: 48px;

// H2
$h2-font-size-l: 42px;
$h2-font-size-s: 32px;

// H3
$h3-font-size-l: 32px;
$h3-font-size-s: 24px;

// H4
$h4-font-size-l: 26px;
$h4-font-size-s: 20px;

// H5
$h5-font-size-l: 22px;
$h5-font-size-s: 18px;

// H6
$h6-font-size-l: 14px;
$h6-font-size-s: 13px;

// Paragraph
$p-font-size-l: 16px;
$p-font-size-s: 14px;

// Huge
$huge-font-size-l: 60px;
$huge-font-size-s: 34px;

// Large
$large-font-size-l: 24px;
$large-font-size-s: 18px;

// Medium
$medium-font-size-l: 20px;
$medium-font-size-s: 16px;

// Small
$small-font-size-l: 15px;
$small-font-size-s: 13px;

// Tiny
$tiny-font-size-l: 13px;
$tiny-font-size-s: 10px;


// ==== Constants ===========================
// Widths and gutters
// ==========================================

$view-width: 100% / 22 * 16;
$base-gutter: rem(36px);

// ==== Constants ===========================
// Variables
// ==========================================

// Dynamic type
$base-dynamic-type: 1410;

// Loader
$loader-z-index: 99;


// ==== Constants ===========================
// Timing
// ==========================================

$timing: 250ms;

$timing-transition: 300ms;
$timing-button: $timing;
$timing-link: $timing;
$timing-modal: 300ms;
$timing-state: 500ms;


// ==== Constants ===========================
// Easing
// ==========================================

$easing: cubic-bezier(0.25, 0.1, 0.25, 1);
$easing-spring: cubic-bezier(0.17, 0.89, 0.36, 2);
$easing-spring-gentle: cubic-bezier(0.17, 0.89, 0.36, 1.2);

$easing-link: $easing;
$easing-hero: $easing-spring;
$easing-loader-logo: $easing-spring-gentle;


// ==== Constants ===========================
// Breakpoints and Tweakpoints
// ==========================================

$breakpoints: (
  0: 0, // 0
  xxs: 16 * 16, //  256
  xs:  32 * 16, //  512
  s:   48 * 16, //  768
  m:   64 * 16, // 1024
  l:   96 * 16, // 1536
  xl: 102 * 16, // 1632
);

$tweakpoints: (
  // Base
  base-layout-wide: bp(s),
  base-dynamic-type: $base-dynamic-type,
);
