@charset 'UTF-8';

// ==== Framework ===================================================================
// Global
// =======================================================================


// ==== Global ==============================
// Box sizing fix
// ==========================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}


// ==== Global ==============================
// Base setup
// ==========================================

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
input,
button {
  font-family: $font-family-body;
}


// ==== Global ==============================
// Base layout
// ==========================================

html {
  min-height: 100%;
}

body {
  font-family: $font-family-body;
  font-size: em($font-default-size);
  width: 100%;
}


// ==== Global ==============================
// Extras
// ==========================================

.group {
  margin: 0 auto;
  max-width: $view-width;
}
