@charset 'UTF-8';

// ==== Framework ========================================================
// Typography
// =======================================================================


// ==== Typography ==========================
// Extends
// ==========================================

%heading {
  display: block;
  font-family: $font-family-heading;
  font-weight: bold; // TODO: Var
  line-height: $line-height-header;
  margin: 2em 0 0.75em; // TODO: Var
  max-width: 28em;
}

%h1 {
  @extend %heading;

  @include font-sizes($h1-font-size-s, $h1-font-size-l);
}

%h2 {
  @extend %heading;

  @include font-sizes($h2-font-size-s, $h2-font-size-l);
}

%h3 {
  @extend %heading;

  @include font-sizes($h3-font-size-s, $h3-font-size-l);
}

%heading-small {
  display: block;
  font-weight: 600; // TODO: Var
  line-height: $line-height-body;
  margin: 1em 0 0.75em;
  max-width: 42em;
}

%h4 {
  @extend %heading-small;

  @include font-sizes($h4-font-size-s, $h4-font-size-l);

}

%h5 {
  @extend %heading-small;

  @include font-sizes($h5-font-size-s, $h5-font-size-l);
}

%h6 {
  @extend %heading-small;

  @include font-sizes($h6-font-size-s, $h6-font-size-l);

  opacity: 0.75;
  text-transform: uppercase;
}

%paragraph {
  display: block;
  font-weight: 400; // TODO: Var
  line-height: $line-height-body;
  margin: 1em 0;
  max-width: 42em;
}

%size-p {
  @include font-sizes($p-font-size-s, $p-font-size-l);
}

%size-huge {
  @include font-sizes($huge-font-size-s, $huge-font-size-l);
}

%size-large {
  @include font-sizes($large-font-size-s, $large-font-size-l);
}

%size-medium {
  @include font-sizes($medium-font-size-s, $medium-font-size-l);
}

%size-small {
  @include font-sizes($small-font-size-s, $small-font-size-l);
}

%p {
  @extend %paragraph;
  @extend %size-p;
}

%large {
  @extend %paragraph;
  @extend %size-large;
}

%medium {
  @extend %paragraph;
  @extend %size-medium;
}

%small {
  @extend %paragraph;
  @extend %size-small;
}

%blockquote {
  @extend %size-huge;

  font-family: $font-family-heading;
  font-style: italic;
  margin: 1em 0 0.5em;
  max-width: 18em;
  text-transform: uppercase;

  cite {
    @extend %p;

    display: block;
    font-family: $font-family-body;
    font-style: normal;
    margin-top: 0.5em;
    text-transform: none;

    &::before {
      content: '– ';
    }
  }

  a {
    @extend %link;
  }
}

// ==== Typography ==========================
// Classes
// ==========================================

.h1 {
  @extend %h1;
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.h4 {
  @extend %h4;
}

.h5 {
  @extend %h5;
}

.h6 {
  @extend %h6;
}

.p {
  @extend %p;
}

.large {
  @extend %large;
}

.medium {
  @extend %medium;
}

.small {
  @extend %small;
}

.blockquote {
  @extend %blockquote;
}


// ==== Typography ==========================
// Modifiers
// ==========================================

.h {

  &--first {
    margin-top: 0;
  }

  &--lower {
    text-transform: none;
  }
}


// ==== Typography ==========================
// Extras
// ==========================================

abbr {
  border: 0;
  text-decoration: none;
}


// ==== Typography ==========================
// Lists
// ==========================================

ul {
  list-style: none;
}


// ==== Typography ==========================
// Typeset
// ==========================================

.typeset {

  &--terms {
    max-width: rem(720); // TODO: Var
  }

  h1 {
    @extend %h1;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  h5 {
    @extend %h5;
  }

  h6 {
    @extend %h6;
  }

  p {
    @extend %p;
  }

  li,
  dl {
    margin: 0.5em auto;
  }

  small {
    @extend %small;
  }

  blockquote {
    @extend %blockquote;
  }

  strong {
    font-weight: $strong-weight;
  }
}

// ==== Modules ==========================================================
// Links
// =======================================================================


// ==== Links ===============================
// Base
// ==========================================

a,
.link {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  fill: currentColor;
  font: inherit;
  outline: 0;
  text-decoration: underline;
  transition:
    opacity $timing-link $easing-link; // sass-lint:disable-line indentation
}

// ==== Links ===============================
// Extends
// ==========================================

%link {

  &:hover {
    opacity: 0.75; // TODO: Var
  }

  &:active {
    opacity: 0.5; // TODO: Var
  }
}

%link-accent {
  color: module-color(link-accent);
  fill: module-color(link-accent);
}

%link-reversed {
  opacity: 0.33;

  &:hover {
    opacity: 0.66;
  }

  &:active {
    opacity: 1;
  }
}

%link-no-underline {
  text-decoration: none;
}


// ==== Links ===============================
// Classes
// ==========================================

.link {
  @extend %link;

  &--accent {
    @extend %link-accent;
  }

  &--reversed {
    @extend %link-reversed;
  }

  &--no-underline {
    @extend %link-no-underline;
  }

  &--inherit {

    &:link {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.links {

  a {
    @extend %link;
  }

  &--accent {

    a {
      @extend %link-accent;
    }
  }

  &--reversed {

    a {
      @extend %link-reversed;
    }
  }

  &--no-underline {

    a {
      @extend %link-no-underline;
    }
  }
}


// ==== Links ===================================
// Pseudo
// ==========================================

.link {

  &__pseudo {
    transition:
      opacity $timing-link $easing-link; // sass-lint:disable-line indentation

    // sass-lint:disable force-pseudo-nesting
    .link--pseudo:hover & {
      opacity: 0.75; // TODO: Var
    }

    .link--pseudo:active & {
      opacity: 0.5; // TODO: Var
    }

    .link--pseudo-reversed & {
      opacity: 0.5; // TODO: Var
    }

    .link--pseudo-reversed:hover & {
      opacity: 0.75; // TODO: Var
    }

    .link--pseudo-reversed:active & {
      opacity: 1; // TODO: Var
    }
    // sass-list:enable force-pseudo-nesting
  }
}

