// ==== Helpers =========================
// Cover
// ==========================================

@mixin cover($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}
