<template>
  <nav class="menu">
    <b-navbar
      toggleable="md"
      type="dark"
      sticky
    >
      <b-navbar-toggle target="nav_collapse" />

      <b-navbar-brand to="/">
        <i class="fas fa-poo-storm menu__brand"></i>
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item to="/" exact>Home</b-nav-item>
          <b-nav-item to="/products" exact>ProductHunt</b-nav-item>
        </b-navbar-nav>

      </b-collapse>

    </b-navbar>

    <!-- Transition -->
    <transition name="slide-animation">
      <router-view/>
    </transition>

  </nav>
</template>

<script>
// Export
export default {
  name: 'ui-menu',
};
</script>

